/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav related  styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.text-primari{
    color: #FD6E0A;
}
.btn-primari{
 border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;
color: white;
padding: 15px 35px;
font-weight: 700;
}
.nav-title{
 color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
}

/* header related style */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right ;
}
.banner{
    padding:25px 25px 0px 100px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 700px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 20px;
    margin-bottom: 5;
    min-width: 400px;
}
.btn-primari{
    margin-top: 20px;
    margin-right: 20px;
}
/* main section style */
/* about section */